.headerContainer {
  height: 5rem;
  max-width: 1120px;
  padding: 0 2rem;
  margin: 0 auto;
}

.headerContent {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-width: 720px;
  height: 5rem;
  margin: 0 auto;

  a {
    display: flex;
    align-items: center;
  }
}
